# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

omniverse-replicator/Assets
omniverse-replicator/out*
archive/
bin/
val2017/
power-profile/
portenta-h7/portenta_h7_camera_lora/arduino_secrets.h
